.container {
    height: 100vh;
    width: 100vw;
  
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 10% 50% 20%;
    grid-template-areas:'header header header'
                        'left_aside navigation navigation'
                        'left_aside main right_aside'
                        'footer footer footer'                        

}
body{
    margin: 0px!important;
    
}
.index_text{
    font-size: 30px;
    
}
.product_list{
    font-size: 30px;
    list-style-type: none;
    color: wheat;
    line-height: 70px;
}
.contact_list{
    list-style-type: none;
    color: wheat;
    line-height: 40px;
    font-size: 30px;
}

.header{
    background-color:#012C61;
    grid-area: header;
}

.navigation{
    background-color:#a1b5ce;
    grid-area: navigation;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 70px;
    
    
}
.navigation_link{
    margin: 12px;
    font-size: 50px;
    text-decoration: none;
}
.navigation_link:hover {
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }

.left_aside{
    background-color:#0266E0;
    grid-area: left_aside;
}

.right_aside{
    background-color:#014DAD;
    grid-area: right_aside;
}

.main{
    background-color:#478EE6;
    grid-area: main;
}
menu{
    line-height: 50px;
    font-size: 20px;
    color: white;
}
.logos{
    font-size: 50px;
    margin: 10px;
    margin-top: 40px;;
}
.leftimg{
    float: left;
}
.footer{
    background-color:#1E3C61;
    grid-area: footer;
}